*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
.Rproj.user

# Project Files
/literals/destination.txt
/data/dinesafe.xml
/data/dinesafe.zip
